body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:903px;
  height:5px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:900px;
  height:2px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:680px;
  height:755px;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:39px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:38px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:18px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:39px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:0px;
  width:556px;
  height:38px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:18px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:552px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:180px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:124px;
  height:179px;
  text-align:center;
  line-height:18px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:120px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:180px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:38px;
  width:556px;
  height:179px;
  color:#515151;
  text-align:left;
  line-height:25px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:552px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:221px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:124px;
  height:220px;
  text-align:center;
  line-height:18px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:221px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:217px;
  width:556px;
  height:220px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  line-height:18px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:131px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:437px;
  width:124px;
  height:130px;
  text-align:center;
  line-height:18px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:131px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:437px;
  width:556px;
  height:130px;
  line-height:18px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:167px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:567px;
  width:124px;
  height:166px;
  text-align:center;
  line-height:18px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:167px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:567px;
  width:556px;
  height:166px;
  line-height:18px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:733px;
  width:124px;
  height:22px;
  text-align:center;
  line-height:18px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:23px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:733px;
  width:556px;
  height:22px;
  line-height:18px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
