body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1778px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:52px;
}
#u7941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:376px;
  height:51px;
}
#u7941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:84px;
}
#u7945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:27px;
}
#u7946 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:2px;
  width:362px;
  height:27px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:726px;
}
#u7947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:375px;
  height:725px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:22px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u7950 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:35px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u7950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7951 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:201px;
  width:687px;
  height:335px;
}
#u7952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u7952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u7952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u7953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:85px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u7953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u7954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:30px;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:381px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u7954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:377px;
  word-wrap:break-word;
}
#u7955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:0px;
  width:172px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u7955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:168px;
  word-wrap:break-word;
}
#u7956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:154px;
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:49px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u7956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:45px;
  word-wrap:break-word;
}
#u7957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:154px;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:29px;
  width:85px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:81px;
  word-wrap:break-word;
}
#u7958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:154px;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:29px;
  width:381px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:377px;
  word-wrap:break-word;
}
#u7959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:154px;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:29px;
  width:172px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:154px;
}
#u7960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:49px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u7960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:45px;
  word-wrap:break-word;
}
#u7961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:154px;
}
#u7961 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:182px;
  width:85px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:81px;
  word-wrap:break-word;
}
#u7962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:154px;
}
#u7962 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:182px;
  width:381px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:377px;
  word-wrap:break-word;
}
#u7963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:154px;
}
#u7963 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:182px;
  width:172px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:168px;
  word-wrap:break-word;
}
#u7964 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:9px;
  width:687px;
  height:193px;
}
#u7965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u7965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u7966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u7966 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:577px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u7966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u7967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u7968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u7968 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:30px;
  width:577px;
  height:30px;
  text-align:left;
}
#u7968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:573px;
  word-wrap:break-word;
}
#u7969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u7970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:60px;
  width:577px;
  height:30px;
  text-align:left;
}
#u7970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u7972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:90px;
  width:577px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u7972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:573px;
  word-wrap:break-word;
}
#u7973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:38px;
}
#u7973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:110px;
  height:37px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u7974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:38px;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:120px;
  width:577px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u7974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:157px;
  width:110px;
  height:36px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u7975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u7976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:37px;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:157px;
  width:577px;
  height:36px;
  color:#515151;
  text-align:left;
}
#u7976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:573px;
  word-wrap:break-word;
}
#u7977_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:38px;
}
#u7977 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:625px;
  width:2px;
  height:35px;
}
#u7977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u7978 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:142px;
  width:150px;
  height:100px;
  color:#999999;
}
#u7978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u7979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u7979 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:242px;
  width:150px;
  height:100px;
  color:#999999;
}
#u7979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u7980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u7980 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:342px;
  width:150px;
  height:100px;
  color:#999999;
}
#u7980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u7981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u7981 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:341px;
  width:150px;
  height:100px;
  color:#999999;
}
#u7981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u7982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:752px;
  width:375px;
  height:55px;
}
#u7985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:55px;
}
#u7985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u7986 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:88px;
  height:55px;
}
#u7986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u7987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u7987 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:88px;
  height:55px;
  color:#1E1E1E;
}
#u7987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u7988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
}
#u7988 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
  width:103px;
  height:55px;
}
#u7988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:99px;
  word-wrap:break-word;
}
#u7989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:56px;
}
#u7989 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:21px;
  height:55px;
}
#u7989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u7990 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:707px;
  width:86px;
  height:18px;
}
#u7990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:17px;
}
#u7992 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:732px;
  width:224px;
  height:16px;
}
#u7992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u7993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u7993 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:735px;
  width:10px;
  height:10px;
  font-size:9px;
  color:#999999;
}
#u7993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  word-wrap:break-word;
}
#u7994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:696px;
  width:375px;
  height:1px;
}
#u7994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u7995 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:142px;
  width:150px;
  height:100px;
  color:#999999;
}
#u7995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u7996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:52px;
}
#u7996 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:626px;
  width:376px;
  height:51px;
}
#u7996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u8000 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:9px;
  width:375px;
  height:69px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
}
#u8001 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:11px;
  width:362px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:601px;
}
#u8002 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:77px;
  width:375px;
  height:600px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8004 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:41px;
  width:22px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u8005 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:44px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u8005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8006_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:38px;
}
#u8006 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:634px;
  width:2px;
  height:35px;
}
#u8006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u8007 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:268px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u8007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u8008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:171px;
}
#u8008 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:78px;
  width:374px;
  height:170px;
}
#u8008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:370px;
  word-wrap:break-word;
}
#u8009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u8009 {
  border-width:0px;
  position:absolute;
  left:1659px;
  top:268px;
  width:100px;
  height:100px;
}
#u8009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u8010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:385px;
  width:100px;
  height:100px;
}
#u8010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u8011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:385px;
  width:100px;
  height:48px;
}
#u8011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:1660px;
  top:384px;
  width:100px;
  height:100px;
}
#u8012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u8013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:501px;
  width:100px;
  height:100px;
}
#u8013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u8014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:1539px;
  top:501px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u8014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:622px;
  width:375px;
  height:55px;
}
#u8016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:55px;
}
#u8016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u8017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:55px;
}
#u8017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u8018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:75px;
  height:55px;
  color:#FF6600;
}
#u8018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u8019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:75px;
  height:55px;
}
#u8019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u8020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:75px;
  height:55px;
}
#u8020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:619px;
  width:375px;
  height:1px;
}
#u8021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:436px;
  width:100px;
  height:48px;
}
#u8022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:1659px;
  top:502px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u8023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u8024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:268px;
  width:100px;
  height:100px;
}
#u8024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u8025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:242px;
  width:150px;
  height:100px;
  color:#999999;
}
#u8025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:442px;
  width:150px;
  height:100px;
  color:#999999;
}
#u8026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:441px;
  width:150px;
  height:100px;
  color:#999999;
}
#u8027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:64px;
}
#u8028 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:76px;
  width:300px;
  height:63px;
}
#u8028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:296px;
  word-wrap:break-word;
}
#u8029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:542px;
  width:150px;
  height:100px;
  color:#999999;
}
#u8029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:101px;
}
#u8030 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:541px;
  width:150px;
  height:100px;
  color:#999999;
}
#u8030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
