body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1187px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:52px;
}
#u6956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:376px;
  height:51px;
}
#u6956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u6960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:69px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
}
#u6961 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:2px;
  width:362px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:601px;
}
#u6962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:375px;
  height:600px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:22px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u6965 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:35px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u6965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6966 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:201px;
  width:687px;
  height:489px;
}
#u6967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u6967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u6968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u6968 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:87px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  word-wrap:break-word;
}
#u6969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:30px;
}
#u6969 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:381px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:377px;
  word-wrap:break-word;
}
#u6970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u6970 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:0px;
  width:172px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:168px;
  word-wrap:break-word;
}
#u6971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:93px;
}
#u6971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:47px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:43px;
  word-wrap:break-word;
}
#u6972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:93px;
}
#u6972 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:29px;
  width:87px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:83px;
  word-wrap:break-word;
}
#u6973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:93px;
}
#u6973 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:29px;
  width:381px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:377px;
  word-wrap:break-word;
}
#u6974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:93px;
}
#u6974 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:29px;
  width:172px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:93px;
}
#u6975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:47px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:43px;
  word-wrap:break-word;
}
#u6976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:93px;
}
#u6976 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:121px;
  width:87px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:83px;
  word-wrap:break-word;
}
#u6977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:93px;
}
#u6977 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:121px;
  width:381px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:377px;
  word-wrap:break-word;
}
#u6978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:93px;
}
#u6978 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:121px;
  width:172px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:93px;
}
#u6979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:47px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:43px;
  word-wrap:break-word;
}
#u6980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:93px;
}
#u6980 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:213px;
  width:87px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:83px;
  word-wrap:break-word;
}
#u6981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:93px;
}
#u6981 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:213px;
  width:381px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:377px;
  word-wrap:break-word;
}
#u6982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:93px;
}
#u6982 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:213px;
  width:172px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:93px;
}
#u6983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:305px;
  width:47px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:93px;
}
#u6984 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:305px;
  width:87px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:93px;
}
#u6985 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:305px;
  width:381px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:377px;
  word-wrap:break-word;
}
#u6986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:93px;
}
#u6986 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:305px;
  width:172px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:93px;
}
#u6987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:397px;
  width:47px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:93px;
}
#u6988 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:397px;
  width:87px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:93px;
}
#u6989 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:397px;
  width:381px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:377px;
  word-wrap:break-word;
}
#u6990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:93px;
}
#u6990 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:397px;
  width:172px;
  height:92px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6991 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:9px;
  width:687px;
  height:193px;
}
#u6992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u6992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u6993 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:577px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u6993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u6994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u6995 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:30px;
  width:577px;
  height:30px;
  text-align:left;
}
#u6995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:573px;
  word-wrap:break-word;
}
#u6996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u6996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u6997 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:60px;
  width:577px;
  height:30px;
  text-align:left;
}
#u6997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u6998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u6999 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:90px;
  width:577px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u6999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:573px;
  word-wrap:break-word;
}
#u7000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:38px;
}
#u7000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:110px;
  height:37px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u7001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:38px;
}
#u7001 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:120px;
  width:577px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u7001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u7002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:157px;
  width:110px;
  height:36px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u7002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u7003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:37px;
}
#u7003 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:157px;
  width:577px;
  height:36px;
  color:#515151;
  text-align:left;
}
#u7003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:573px;
  word-wrap:break-word;
}
#u7004_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:38px;
}
#u7004 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:625px;
  width:2px;
  height:35px;
}
#u7004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:613px;
  width:375px;
  height:55px;
}
#u7006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:55px;
}
#u7006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7007 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:55px;
}
#u7007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7008 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:75px;
  height:55px;
  color:#FF6600;
}
#u7008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7009 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:75px;
  height:55px;
}
#u7009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7010 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:75px;
  height:55px;
}
#u7010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:541px;
}
#u7011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:540px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:52px;
}
#u7012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1363px;
  width:376px;
  height:51px;
}
#u7012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u7016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:746px;
  width:375px;
  height:69px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
}
#u7017 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:748px;
  width:362px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:601px;
}
#u7018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:814px;
  width:375px;
  height:600px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u7020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:778px;
  width:22px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u7021 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:781px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u7021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7022_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:38px;
}
#u7022 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1371px;
  width:2px;
  height:35px;
}
#u7022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1359px;
  width:375px;
  height:55px;
}
#u7024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:55px;
}
#u7024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7025 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:55px;
}
#u7025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7026 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:75px;
  height:55px;
  color:#FF6600;
}
#u7026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7027 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:75px;
  height:55px;
}
#u7027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7028 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:75px;
  height:55px;
}
#u7028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:541px;
}
#u7029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:809px;
  width:375px;
  height:540px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u7030 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:867px;
  width:20px;
  height:19px;
}
#u7030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:858px;
  width:371px;
  height:102px;
}
#u7033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u7033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  color:#FF6633;
  text-align:left;
}
#u7033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u7034 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:202px;
  height:30px;
  color:#FF6633;
  text-align:left;
}
#u7034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u7035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u7035 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:0px;
  width:119px;
  height:30px;
  text-align:right;
}
#u7035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u7036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  color:#949494;
  text-align:left;
}
#u7036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u7037 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:202px;
  height:30px;
  color:#949494;
  text-align:left;
}
#u7037_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u7038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u7038 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:30px;
  width:119px;
  height:30px;
}
#u7038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u7039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:36px;
  color:#949494;
  text-align:left;
}
#u7039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
}
#u7040 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:60px;
  width:202px;
  height:36px;
  color:#949494;
  text-align:left;
}
#u7040_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u7041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u7041 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:60px;
  width:119px;
  height:36px;
}
#u7041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7042 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:891px;
  width:20px;
  height:20px;
  color:#F2F2F2;
}
#u7042_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:28px;
}
#u7043 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:819px;
  width:361px;
  height:27px;
  color:#949494;
}
#u7043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:357px;
  word-wrap:break-word;
}
#u7044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:970px;
  width:371px;
  height:102px;
}
#u7046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u7046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  color:#FF6633;
  text-align:left;
}
#u7046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u7047 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:202px;
  height:30px;
  color:#FF6633;
  text-align:left;
}
#u7047_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u7048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u7048 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:0px;
  width:119px;
  height:30px;
  text-align:right;
}
#u7048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u7049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  color:#949494;
  text-align:left;
}
#u7049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u7050 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:202px;
  height:30px;
  color:#949494;
  text-align:left;
}
#u7050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u7051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u7051 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:30px;
  width:119px;
  height:30px;
}
#u7051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u7052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:36px;
  color:#949494;
  text-align:left;
}
#u7052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
}
#u7053 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:60px;
  width:202px;
  height:36px;
  color:#949494;
  text-align:left;
}
#u7053_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u7054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u7054 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:60px;
  width:119px;
  height:36px;
}
#u7054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7055 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:1003px;
  width:20px;
  height:20px;
  color:#F2F2F2;
}
#u7055_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u7056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7057 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:1082px;
  width:371px;
  height:102px;
}
#u7058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  color:#FF6633;
  text-align:left;
}
#u7058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:202px;
  height:30px;
  color:#FF6633;
  text-align:left;
}
#u7059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u7060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u7060 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:0px;
  width:119px;
  height:30px;
  text-align:right;
}
#u7060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  color:#949494;
  text-align:left;
}
#u7061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u7062 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:202px;
  height:30px;
  color:#949494;
  text-align:left;
}
#u7062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:198px;
  word-wrap:break-word;
}
#u7063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u7063 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:30px;
  width:119px;
  height:30px;
}
#u7063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u7064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:36px;
  color:#949494;
  text-align:left;
}
#u7064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
}
#u7065 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:60px;
  width:202px;
  height:36px;
  color:#949494;
  text-align:left;
}
#u7065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u7066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u7066 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:60px;
  width:119px;
  height:36px;
}
#u7066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7067 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1115px;
  width:20px;
  height:20px;
  color:#F2F2F2;
}
#u7067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:1304px;
  width:375px;
  height:55px;
}
#u7069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:55px;
}
#u7069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7070 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:55px;
}
#u7070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7071 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:75px;
  height:55px;
  color:#FF6600;
}
#u7071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u7072 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:44px;
  height:55px;
}
#u7072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:56px;
}
#u7073 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:0px;
  width:106px;
  height:55px;
  color:#F2F2F2;
}
#u7073_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:102px;
  word-wrap:break-word;
}
#u7074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:46px;
}
#u7074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:711px;
  width:222px;
  height:35px;
}
#u7074_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:202px;
  word-wrap:break-word;
}
#u7075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u7076 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:91px;
  width:57px;
  height:16px;
  color:#0000FF;
}
#u7076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:161px;
}
#u7077 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:891px;
  width:666px;
  height:150px;
}
#u7077_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:646px;
  word-wrap:break-word;
}
#u7078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:28px;
}
#u7078 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:72px;
  width:361px;
  height:27px;
  color:#949494;
}
#u7078_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:357px;
  word-wrap:break-word;
}
#u7079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:372px;
  height:64px;
}
#u7082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:35px;
}
#u7082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:34px;
  text-align:left;
}
#u7082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:207px;
  word-wrap:break-word;
}
#u7083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:35px;
}
#u7083 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:0px;
  width:161px;
  height:34px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u7083_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u7084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:31px;
}
#u7084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:211px;
  height:30px;
  font-size:12px;
  color:#949494;
  text-align:left;
}
#u7084_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:207px;
  word-wrap:break-word;
}
#u7085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u7085 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:34px;
  width:161px;
  height:30px;
}
#u7085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
}
#u7086 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:142px;
  width:60px;
  height:25px;
  color:#FF9933;
}
#u7086_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u7087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:372px;
  height:64px;
}
#u7090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:35px;
}
#u7090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:34px;
  text-align:left;
}
#u7090_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:207px;
  word-wrap:break-word;
}
#u7091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:35px;
}
#u7091 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:0px;
  width:161px;
  height:34px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u7091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u7092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:31px;
}
#u7092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:211px;
  height:30px;
  font-size:12px;
  color:#949494;
  text-align:left;
}
#u7092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:207px;
  word-wrap:break-word;
}
#u7093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u7093 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:34px;
  width:161px;
  height:30px;
}
#u7093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
}
#u7094 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:216px;
  width:60px;
  height:25px;
  color:#FF9933;
}
#u7094_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u7095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:257px;
  width:372px;
  height:64px;
}
#u7099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:35px;
}
#u7099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:34px;
  text-align:left;
}
#u7099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:207px;
  word-wrap:break-word;
}
#u7100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:35px;
}
#u7100 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:0px;
  width:161px;
  height:34px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u7100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u7101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:31px;
}
#u7101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:211px;
  height:30px;
  font-size:12px;
  color:#949494;
  text-align:left;
}
#u7101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:207px;
  word-wrap:break-word;
}
#u7102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u7102 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:34px;
  width:161px;
  height:30px;
}
#u7102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u7103 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:289px;
  width:87px;
  height:24px;
}
#u7103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u7104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
}
#u7104 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:116px;
  width:47px;
  height:16px;
  font-size:12px;
}
#u7104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u7105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
}
#u7105 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:191px;
  width:47px;
  height:16px;
  font-size:12px;
}
#u7105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u7106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
}
#u7106 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:265px;
  width:47px;
  height:16px;
  font-size:12px;
}
#u7106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u7107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:73px;
}
#u7107 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:714px;
  width:666px;
  height:62px;
}
#u7107_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:646px;
  word-wrap:break-word;
}
