body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1096px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:1108px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:180px;
  width:931px;
  height:1108px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
