body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:77px;
}
#u9835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:752px;
  width:375px;
  height:76px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:24px;
}
#u9836 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:754px;
  width:362px;
  height:24px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:662px;
}
#u9837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:827px;
  width:375px;
  height:661px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9839 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1486px;
  width:375px;
  height:55px;
}
#u9840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u9840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:55px;
}
#u9840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u9841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u9841 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:88px;
  height:55px;
}
#u9841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u9842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u9842 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:88px;
  height:55px;
  color:#1E1E1E;
}
#u9842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u9843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
}
#u9843 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
  width:103px;
  height:55px;
}
#u9843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:99px;
  word-wrap:break-word;
}
#u9844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:56px;
}
#u9844 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:21px;
  height:55px;
}
#u9844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u9846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:785px;
  width:24px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u9847 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:786px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u9847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9848 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:869px;
  width:373px;
  height:40px;
}
#u9849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u9849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  text-align:left;
}
#u9849_img.selected {
}
#u9849.selected {
}
#u9849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  word-wrap:break-word;
}
#u9850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u9850 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:117px;
  height:40px;
  text-align:left;
}
#u9850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u9851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
}
#u9851 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:837px;
  width:83px;
  height:20px;
}
#u9851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u9852 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:910px;
  width:373px;
  height:40px;
}
#u9853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u9853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  text-align:left;
}
#u9853_img.selected {
}
#u9853.selected {
}
#u9853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  word-wrap:break-word;
}
#u9854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u9854 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:117px;
  height:40px;
  text-align:left;
}
#u9854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u9855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
}
#u9855 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:919px;
  width:36px;
  height:20px;
}
#u9855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u9856 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:951px;
  width:373px;
  height:40px;
}
#u9857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u9857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  text-align:left;
}
#u9857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  word-wrap:break-word;
}
#u9858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u9858 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:117px;
  height:40px;
  text-align:left;
}
#u9858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:113px;
  word-wrap:break-word;
}
#u9859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
}
#u9859 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:962px;
  width:36px;
  height:20px;
}
#u9859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u9860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:992px;
  width:375px;
  height:320px;
}
#u9861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  text-align:left;
}
#u9861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:40px;
  text-align:left;
}
#u9862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:375px;
  height:40px;
  text-align:left;
}
#u9863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:40px;
  text-align:left;
}
#u9864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:375px;
  height:40px;
  text-align:left;
}
#u9865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:375px;
  height:40px;
  text-align:left;
}
#u9866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9869 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:881px;
  width:100px;
  height:16px;
}
#u9869_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9869_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9870 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:921px;
  width:100px;
  height:16px;
}
#u9870_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9870_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9871 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:962px;
  width:100px;
  height:16px;
}
#u9871_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9871_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9872 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:828px;
  width:373px;
  height:40px;
}
#u9873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u9873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  text-align:left;
}
#u9873_img.selected {
}
#u9873.selected {
}
#u9873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:252px;
  word-wrap:break-word;
}
#u9874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:41px;
}
#u9874 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:117px;
  height:40px;
  text-align:left;
}
#u9874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u9875 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:838px;
  width:83px;
  height:23px;
}
#u9875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u9876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
}
#u9876 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:881px;
  width:36px;
  height:20px;
}
#u9876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u9877_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:77px;
  height:31px;
}
#u9877 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:889px;
  width:62px;
  height:5px;
}
#u9877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:65px;
}
#u9881 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:752px;
  width:375px;
  height:64px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:20px;
}
#u9882 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:754px;
  width:362px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:555px;
}
#u9883 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:815px;
  width:375px;
  height:554px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9885 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:1367px;
  width:375px;
  height:55px;
}
#u9886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u9886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:55px;
}
#u9886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u9887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u9887 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:88px;
  height:55px;
}
#u9887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u9888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u9888 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:88px;
  height:55px;
  color:#1E1E1E;
}
#u9888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u9889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
}
#u9889 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
  width:103px;
  height:55px;
}
#u9889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:99px;
  word-wrap:break-word;
}
#u9890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:56px;
}
#u9890 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:21px;
  height:55px;
}
#u9890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9892 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:780px;
  width:22px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u9893 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:783px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u9893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9894 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:817px;
  width:375px;
  height:360px;
}
#u9895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9904 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1342px;
  width:375px;
  height:80px;
}
#u9905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u9906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u9906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u9907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u9907 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:816px;
  width:28px;
  height:22px;
}
#u9907_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:8px;
  white-space:nowrap;
}
#u9908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:346px;
}
#u9908 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:752px;
  width:566px;
  height:335px;
}
#u9908_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:546px;
  word-wrap:break-word;
}
#u9909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:645px;
}
#u9909 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:11px;
  width:374px;
  height:645px;
}
#u9909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:161px;
}
#u9910 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:286px;
  width:462px;
  height:150px;
}
#u9910_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:442px;
  word-wrap:break-word;
}
#u9911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u9911 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1312px;
  width:140px;
  height:40px;
}
#u9911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9912 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:1283px;
  width:100px;
  height:19px;
}
#u9912_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9912_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9913 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:1283px;
  width:100px;
  height:19px;
}
#u9913_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9913_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:161px;
}
#u9914 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:1403px;
  width:591px;
  height:150px;
}
#u9914_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:571px;
  word-wrap:break-word;
}
