.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._需求字体 {
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:25px;
}
._宋体13号33色 {
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
}
._宋体14号33色 {
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
._形状 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
.box_2 {
}
._图片 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
._一级标题 {
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.line {
}
.arrow {
}
._文本框 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
._多行文本框 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
._复选框 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
._单选按钮 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
._流程形状 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
._表格 {
}
._单元格 {
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
._水平线 {
}
._垂直线 {
}
._连接线 {
}
.sticky_1 {
  text-align:left;
}
._图片1 {
  color:#000000;
}
.box_1 {
}
.box_3 {
}
.ellipse {
}
._形状1 {
}
.flow_shape {
}
.image {
}
._图片2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.icon {
}
.box_11 {
}
.table_cell {
}
.tree_node {
  text-align:left;
}
.image1 {
}
.box_12 {
}
._图片3 {
}
.label1 {
  font-size:16px;
  color:#333333;
  text-align:left;
}
.box_13 {
}
.ellipse1 {
}
.line1 {
}
._二级标题1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._图片4 {
}
.box_21 {
}
.box_14 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.text_field {
  color:#000000;
  text-align:left;
}
.box_31 {
}
.ellipse2 {
}
._形状2 {
}
.shape {
}
._默认样式 {
}
.connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.image2 {
}
._28号字_页面备注信息及列表的表头说明文字__） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
._水平线1 {
}
._一级标题1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.box_22 {
}
.image3 {
  color:#000000;
}
.box_32 {
}
