body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1778px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:52px;
}
#u6922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:376px;
  height:51px;
}
#u6922_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u6926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:69px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
}
#u6927 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:2px;
  width:362px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:601px;
}
#u6928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:375px;
  height:600px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:22px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u6931 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:35px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u6931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6932 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:201px;
  width:687px;
  height:335px;
}
#u6933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u6933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6933_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  word-wrap:break-word;
}
#u6934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u6934 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:0px;
  width:85px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u6935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:30px;
}
#u6935 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:381px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:377px;
  word-wrap:break-word;
}
#u6936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u6936 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:0px;
  width:172px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:168px;
  word-wrap:break-word;
}
#u6937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:154px;
}
#u6937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:49px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:45px;
  word-wrap:break-word;
}
#u6938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:154px;
}
#u6938 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:29px;
  width:85px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:154px;
}
#u6939 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:29px;
  width:381px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:377px;
  word-wrap:break-word;
}
#u6940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:154px;
}
#u6940 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:29px;
  width:172px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:154px;
}
#u6941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:49px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:45px;
  word-wrap:break-word;
}
#u6942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:154px;
}
#u6942 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:182px;
  width:85px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:154px;
}
#u6943 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:182px;
  width:381px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:154px;
}
#u6944 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:182px;
  width:172px;
  height:153px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6945 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:9px;
  width:687px;
  height:193px;
}
#u6946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u6946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u6947 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:577px;
  height:30px;
  color:#515151;
  text-align:left;
}
#u6947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u6948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u6949 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:30px;
  width:577px;
  height:30px;
  text-align:left;
}
#u6949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:573px;
  word-wrap:break-word;
}
#u6950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u6950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6950_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u6951 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:60px;
  width:577px;
  height:30px;
  text-align:left;
}
#u6951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
}
#u6952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:110px;
  height:30px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:31px;
}
#u6953 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:90px;
  width:577px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:left;
}
#u6953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:573px;
  word-wrap:break-word;
}
#u6954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:38px;
}
#u6954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:110px;
  height:37px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:38px;
}
#u6955 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:120px;
  width:577px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u6955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:37px;
}
#u6956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:157px;
  width:110px;
  height:36px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#515151;
  text-align:center;
}
#u6956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u6957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:37px;
}
#u6957 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:157px;
  width:577px;
  height:36px;
  color:#515151;
  text-align:left;
}
#u6957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:573px;
  word-wrap:break-word;
}
#u6958_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:38px;
}
#u6958 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:625px;
  width:2px;
  height:35px;
}
#u6958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6959 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:259px;
  width:100px;
  height:100px;
  color:#FF9933;
}
#u6959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:171px;
}
#u6960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:374px;
  height:170px;
}
#u6960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:370px;
  word-wrap:break-word;
}
#u6961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6961 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:259px;
  width:100px;
  height:100px;
  color:#FF9933;
}
#u6961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6962 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:359px;
  width:100px;
  height:100px;
  color:#999999;
}
#u6962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u6963 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:360px;
  width:100px;
  height:48px;
  color:#999999;
}
#u6963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u6964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6964 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:359px;
  width:100px;
  height:100px;
  color:#999999;
}
#u6964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6965 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:459px;
  width:100px;
  height:100px;
  color:#999999;
}
#u6965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6966 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:458px;
  width:100px;
  height:100px;
  color:#FF9933;
}
#u6966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:613px;
  width:375px;
  height:55px;
}
#u6969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u6969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:55px;
}
#u6969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u6970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u6970 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:88px;
  height:55px;
}
#u6970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u6971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:56px;
}
#u6971 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:88px;
  height:55px;
  color:#1E1E1E;
}
#u6971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u6972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
}
#u6972 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
  width:103px;
  height:55px;
}
#u6972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:99px;
  word-wrap:break-word;
}
#u6973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:56px;
}
#u6973 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:0px;
  width:21px;
  height:55px;
}
#u6973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:610px;
  width:375px;
  height:1px;
}
#u6974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u6975 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:409px;
  width:100px;
  height:48px;
  color:#999999;
}
#u6975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u6976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6976 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:459px;
  width:100px;
  height:100px;
  color:#FF9933;
}
#u6976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6977 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:259px;
  width:100px;
  height:100px;
  color:#FF9933;
}
#u6977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:52px;
}
#u6978 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:626px;
  width:376px;
  height:51px;
}
#u6978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u6982 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:9px;
  width:375px;
  height:69px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:22px;
}
#u6983 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:11px;
  width:362px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:601px;
}
#u6984 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:77px;
  width:375px;
  height:600px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6986 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:41px;
  width:22px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u6987 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:44px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u6987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6988_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:38px;
}
#u6988 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:634px;
  width:2px;
  height:35px;
}
#u6988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6989 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:268px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u6989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:171px;
}
#u6990 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:78px;
  width:374px;
  height:170px;
}
#u6990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:370px;
  word-wrap:break-word;
}
#u6991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6991 {
  border-width:0px;
  position:absolute;
  left:1659px;
  top:268px;
  width:100px;
  height:100px;
}
#u6991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6992 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:385px;
  width:100px;
  height:100px;
}
#u6992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u6993 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:385px;
  width:100px;
  height:48px;
}
#u6993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u6994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6994 {
  border-width:0px;
  position:absolute;
  left:1660px;
  top:384px;
  width:100px;
  height:100px;
}
#u6994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6995 {
  border-width:0px;
  position:absolute;
  left:1418px;
  top:501px;
  width:100px;
  height:100px;
}
#u6995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6996 {
  border-width:0px;
  position:absolute;
  left:1539px;
  top:501px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u6996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6997 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:622px;
  width:375px;
  height:55px;
}
#u6998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u6998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:55px;
}
#u6998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u6999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u6999 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:75px;
  height:55px;
}
#u6999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7000 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:75px;
  height:55px;
  color:#FF6600;
}
#u7000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7001 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:75px;
  height:55px;
}
#u7001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u7002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:56px;
}
#u7002 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:75px;
  height:55px;
}
#u7002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u7003 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:619px;
  width:375px;
  height:1px;
}
#u7003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u7004 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:436px;
  width:100px;
  height:48px;
}
#u7004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u7005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u7005 {
  border-width:0px;
  position:absolute;
  left:1659px;
  top:502px;
  width:100px;
  height:100px;
  color:#FFFFFF;
}
#u7005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u7006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u7006 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:268px;
  width:100px;
  height:100px;
}
#u7006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u7007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u7007 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:568px;
  width:86px;
  height:18px;
}
#u7007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:17px;
}
#u7009 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:593px;
  width:224px;
  height:16px;
}
#u7009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u7010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u7010 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:596px;
  width:10px;
  height:10px;
  font-size:9px;
  color:#999999;
}
#u7010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  word-wrap:break-word;
}
